<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Hello
    </title>
  </head>
  <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>I will get to this later</p>
  </body>
  
  
</html>

